<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table class="job-listing"  class="table table-striped table-bordered" th:each="job : ${jobs}">
        <tr>
            <th>ID</th>
            <td th:text="${job.getId}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${job.getName}"></td>
        </tr>
        <tr>
            <th>Employer</th>
            <td th:text="${job.getEmployer}"></td>
        </tr>
        <tr>
            <th>Location</th>
            <td th:text="${job.getLocation}"></td>
        </tr>
        <tr>
            <th>Position</th>
            <td th:text="${job.getPositionType}"></td>
        </tr>
        <tr>
            <th>Skills</th>
            <td th:text="${job.getCoreCompetency}"></td>
        </tr>
    </table>

</div>

</body>
</html>


<!--        <tr>-->
<!--            <td>ID</td>-->
<!--            <td th:text = "${job.id}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Employer</th>-->
<!--            <td th:text = "${employer.id}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Location</th>-->
<!--            <td th:text = "${location.id}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Position</th>-->
<!--            <td th:text = "${job.positionType}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Skill</th>-->
<!--            <td th:text = "${job.coreCompetency}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
            <!-- TODO #2: Complete the View Jobs By Category Table. this code below is them, its fine, leave it vvvvvv-->
<!--            <td th:each="category : ${tableChoices}">-->
<!--                <ul>-->
<!--                    <li th:each="item : ${category.value}">-->
<!--                        <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </td>-->
<!--        </tr>-->
